@use '~/assets/css/utilities/variables' as *;

.button,
a.button {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.05em;
  cursor: pointer;
  background: linear-gradient(315deg, #0A1E26, #11323F, #1A4453);
  transition: all 0.2s;

  &:hover,
  &:focus {
    background: linear-gradient(315deg, #0A1E26, #11323F, #35758B);
    border-color: #8BE9FD;
    color: #8BE9FD;
    stroke: #8BE9FD;
    box-shadow: 0 0 3px rgba(156, 156, 156, 0.269);
    transform: scale(1.05);

    svg path {
      stroke: #8BE9FD;
      fill: #8BE9FD;
    }
  }

  &:disabled,
  &[disabled] {
    color: #092C3D;
    cursor: default;
    background-color: #000;
  }

  .icon {
    margin-right: 1rem;
  }
}

.button--icon {
  display: inline-flex;
  align-items: center;

  svg {
    transition: all 0.2s;
  }
}

select {
  padding: 0.8rem 3.5rem 0.8rem 1.5rem;
  font-size: 1.3rem;
  color: #fff;
  background: $secondary-color url('~/assets/images/select-arrow.svg') no-repeat 100% 45%;
  background-size: 30px 60px;
  border-color: $secondary-color;
  appearance: none;
  border-radius: 0;

  &:disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.4;
  }
}

select[multiple="multiple"] {
  height: auto;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

input {
  font-size: 1.3rem;
  border-radius: 0;
}

button {
  text-align: center;
  border: 0;
  border-radius: 0;

  &.icon {

    &:hover,
    &:focus {
      background: linear-gradient(315deg, #0A1E26, #11323F, #1A4453);
      border-color: #8BE9FD;
      color: #8BE9FD;
      stroke: #8BE9FD;
      box-shadow: 0 0 3px rgba(156, 156, 156, 0.269);
      transform: scale(1.05);

      svg path {
        stroke: #8BE9FD;
        fill: #8BE9FD;
      }
    }
  }
}