$font-family--sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$base-font-size: 62.5%;
$base-line-height: 1.6;
$base-bg: linear-gradient(270deg, #092739, #000000);
$base-font-color: #fff;
$base-font-family: $font-family--sans-serif;
$base-font-weight: 400;
$base-font-style: normal;

$letter-spacing: 0.4px;

$primary-color: #18729f;
$secondary-color: #000000;
$third-color: #092C3D;

$text-color: #fafafa;
$text-color-grey: #80868b;

$breakpoint-xsmall: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;
